<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">

    <title>个人信息</title>

    <link rel="icon" sizes="any" mask="" href="/static/img/标签页ico.jpg">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/static/css/entypo.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body  page-fade" data-url="http://neon.dev">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu" style="background-color:#666db373">


        <header class="logo-env">
            <div class="logo">
                <a href="index.html">
                    <h3 style="color: #FFFFFF;font-weight: bold;margin-top: 5px">梦想通招聘分析</h3>
                </a>
            </div>
        </header>


        <div class="sidebar-user-info">

            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img style="width: 90%;border-radius: 50%" src="/media/{{ userInfo.avatar }}" width="120" alt="">
                    <span style="color: #FFFFFF;padding-top: 209px;text-align: center">欢迎您！</span>
                    <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                </a>
            </div>
        </div>


        <ul id="main-menu" class="">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <!-- Search Bar -->

            <li>
                <a href="/Dreamapp/home">
                    <i class="entypo-gauge"></i>
                    <span>首页</span>
                </a>

            </li>
            <li class="active opened active">
                <a href="layout-api.html" class="active opened active">
                    <i class="entypo-layout"></i>
                    <span>个人中心</span>
                </a>
                <ul>
                    <li>
                        <a href="/Dreamapp/selfInfo">
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Dreamapp/changePassword">
                            <span>修改密码</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="ui-panels.html">
                    <i class="entypo-newspaper"></i>
                    <span>数据分析</span>
                </a>
                <ul>
                    <li>
                        <a href="ui-panels.html">
                            <span>数据总览</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui-tiles.html">
                            <span>薪资情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Dreamapp/company">
                            <span>企业情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui-typography.html">
                            <span>学历分布</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Dreamapp/companyTags">
                            <span>福利词云</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui-tooltips-popovers.html">
                            <span>历史查询</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="mailbox.html">
                    <i class="entypo-mail"></i>
                    <span>Mailbox</span>
                    <span class="badge badge-secondary">8</span>
                </a>
                <ul>
                    <li>
                        <a href="mailbox.html">
                            <i class="entypo-inbox"></i>
                            <span>Inbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailbox-compose.html">
                            <i class="entypo-pencil"></i>
                            <span>Compose Message</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailbox-message.html">
                            <i class="entypo-attach"></i>
                            <span>View Message</span>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>

    </div>
    <div class="main-content"
         style="background: linear-gradient(135deg, rgba(170, 170, 255, 0.4), rgba(239, 160, 159, 0.4), rgba(85, 164, 138, 0.4))">

        <div class="row">

            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">

            </div>

            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">

                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <a href="/Dreamapp/logOut">
                            退出登录 <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <hr>

        <ol class="breadcrumb bc-3">
            <li>
                <a href="/Dreamapp/home">首页</a> &nbsp / &nbsp <a href="#" style="font-weight: bold">个人中心</a>
            </li>
            <li class="active">
                <strong>
                    个人信息
                </strong>
            </li>
        </ol>
        <h2>个人信息修改</h2><br>

        <div class="col-md-12">

            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading" style="background-color: #afd3c382">
                    <div class="panel-title">
                        个人信息
                    </div>

                    <div class="panel-options">
                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i
                                class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <form role="form" enctype="multipart/form-data" method="POST" action="/Dreamapp/selfInfo/"
                          class="form-horizontal form-groups-bordered">
                        <!--用户名-->
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">用户名</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="username" readonly
                                       value="{{ userInfo.username }}" id="field-1" placeholder="请输入用户名">
                            </div>
                        </div>
                        <!--学历-->
                        <div class="form-group">
                            <label for="field-3" class="col-sm-3 control-label">学历</label>

                            <div class="col-sm-5">
                                <select name="educational" class="form-control">
                                    {% for e in pageData.educational %}
                                        {% if e == userInfo.educational %}
                                            <option selected value="{{ e }}">{{ e }}</option>
                                        {% else %}
                                            <option value="{{ e }}">{{ e }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--工作经验-->
                        <div class="form-group">
                            <label for="field-3" class="col-sm-3 control-label">工作经验</label>

                            <div class="col-sm-5">
                                <select name="workExperience" class="form-control">
                                    {% for e in pageData.workExperience %}
                                        {% if e == userInfo.workExperience %}
                                            <option selected value="{{ e }}">{{ e }}</option>
                                        {% else %}
                                            <option value="{{ e }}">{{ e }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--意向城市-->
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">意向城市</label>

                            <div class="col-sm-5">
                                <input type="text" name="address" class="form-control" value="{{ userInfo.address }}"
                                       id="field-1" placeholder="请输入意向城市">
                            </div>
                        </div>
                        <!--意向岗位-->
                        <div class="form-group">
                            <label for="field-3" class="col-sm-3 control-label">意向岗位</label>

                            <div class="col-sm-5">
                                <select name="work" class="form-control">
                                    {% for e in pageData.jobsTypes %}
                                        {% if e == userInfo.work %}
                                            <option selected value="{{ e }}">{{ e }}</option>
                                        {% else %}
                                            <option value="{{ e }}">{{ e }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--头像更改-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">头像上传</label>

                            <div class="col-sm-5">

                                <div class="fileinput fileinput-new" data-provides="fileinput"><input type="hidden">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;"
                                         data-trigger="fileinput">
                                        <img src="/media/{{ userInfo.avatar }}" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"
                                         style="max-width: 200px; max-height: 150px; line-height: 5px;"></div>
                                    <div>
									<span class="btn btn-white btn-file">
										<span class="fileinput-new">选择头像</span>
										<span class="fileinput-exists">更改</span>
										<input type="file" name="avatar" accept="image/* ">
									</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
        <div class="col-md-6 col-sm-4 clearfix hidden-xs">
            <!-- Footer -->


            <link rel="stylesheet" href="/static/css/jquery-jvectormap-1.2.2.css">
            <link rel="stylesheet" href="/static/css/rickshaw.min.css">

            <!-- Bottom Scripts -->
            <script src="/static/js/main-gsap.js"></script>
            <script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
            <script src="/static/js/bootstrap.js"></script>
            <script src="/static/js/joinable.js"></script>
            <script src="/static/js/resizeable.js"></script>
            <script src="/static/js/neon-api.js"></script>
            <script src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
            <script src="/static/js/jquery-jvectormap-europe-merc-en.js"></script>
            <script src="/static/js/jquery.sparkline.min.js"></script>
            <script src="/static/js/d3.v3.js"></script>
            <script src="/static/js/rickshaw.min.js"></script>
            <script src="/static/js/raphael-min.js"></script>
            <script src="/static/js/morris.min.js"></script>
            <script src="/static/js/toastr.js"></script>
            <script src="/static/js/neon-chat.js"></script>
            <script src="/static/js/neon-custom.js"></script>
            <script src="/static/js/neon-demo.js"></script>
            <script src="/static/js/fileinput.js"></script>
        </div>
</body>
</html>