<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" sizes="any" mask="" href="/static/img/标签页ico.jpg">
		<!-- 网页小标签 -->
		<title>梦想通登录界面</title>

		<link rel="stylesheet" href="/static/css/new_file.css">

	</head>


	<body>
		<!-- 首页顶端 -->
		<!-- 		<div id="decorate">
			<p style="height: 70px" align="center">dream</p>
		</div> -->

		<!-- 简洁的自我介绍 -->
		<div id="introduce" align="center">
			<h2>
				值得信赖的招聘信息统计平台
			</h2>

			<h3 align="center">
				realize your dream
			</h3>
		</div>
		<!-- 分割线换行 -->
		<hr>
		<br>

		<!-- 详细的自我介绍以及功能介绍，跳转？锚链接？ -->
		<!-- <div id="function">
			<ul>
				<a href="#">关于我们 </a>
				<a href="#">主要功能 </a>
				<br>
		</div> -->

		</ul>

		<!-- 登录界面主体 -->
		<div class="login">
			<div id="login-logo">登录

			</div>

			<hr>
			<form action="/login" method="get">

				<div id="login-box_sub">
					<input name="uid" placeholder="请输入账号" />
				</div>

				<div id="login-box_pw">
					<input name="pwd" type="password" placeholder="请输入密码" />
				</div>

				<button>登录</button><br><br>
				<!-- <input type="submit" /> -->
				<div id="login">
                    <a href="/Dreamapp/registry">没有账号？注册一个！</a>
                </div>

			</form>
		</div>
	
		<br>

		<!-- <img src="../img/页面内小狗图像.jpg" width="100%" title="我们的标签" /> -->
	</body>
</html>