<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" sizes="any" mask="" href="/static/img/标签页ico.jpg">
		<!-- 网页小标签 -->
		<title>梦想通注册界面</title>
		<link rel="stylesheet" href="/static/css/注册界面.css">
	</head>
	<body>
		<!-- <div id="introduce" align="center">
			<h2>
				值得信赖的招聘信息统计平台
			</h2>
		
			<h3 align="center">
				realize your dream
			</h3>
		</div> -->
		<!-- 分割线换行 -->
		<hr>
		<br>
		
		<!-- 详细的自我介绍以及功能介绍，跳转？锚链接？ -->
		<!-- <div id="function">
			<ul>
				<a href="#">关于我们 </a>
				<a href="#">主要功能 </a>
				<br>
		</div> -->
		
		</ul>
		
		<!-- 登录界面主体 -->
		<div class="login">
			<div id="login-logo">注册
		
			</div>
		
			<hr>
			<form action="/login" method="get">
		
				<div id="login-box_sub">
					<input name="uid" placeholder="请输入账号" />
				</div>
		
				<div id="login-box_pw">
					<input name="pwd" type="password" placeholder="请输入密码" />
				</div>
		
				<button>注册</button><br><br>
				<!-- <input type="submit" /> -->
				<div id="registry">
                    <a href="/Dreamapp/login">已有账号？点击登录！</a>
                </div>
			</form>
		</div>
			
		<br>
	</body>
</html>